<%- include('header'); -%>
    <div class="content">
        <h1>Selected articles</h1>
        <table id="catalog">
            <thead>
                <tr>
                    <th>Reference</th>
                    <th scope="col">category</th>
                    <th scope="col">name</th>
                    <th scope="col">critical_stock</th>
                    <th scope="col">price</th>
                    <th scope="col">reference</th>
                    <th scope="col">stock</th>
                    <th scope="col">supplier</th>
                    <th scope="col">vat</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <th scope="row">

                            <td>
                                <a href="/api/article/<%= product.reference %>">
                                    <%= product.reference %>
                                </a>
                            </td>
                            <%= product.category %>
                        </th>
                        <td>
                            <%= product.name %>
                        </td>
                        <td>
                            <%= product.critical_stock %>
                        </td>
                        <td>
                            <%= product.price %>AED
                        </td>
                        <td>
                          <%= product.reference %>AED
                        </td>
                        <td>
                        <%= product.stock %>AED
                        </td>
                        <td>
                        <%= product.supplier %>AED
                        </td>
                        <td>
                        <%= product.vat %>AED
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
    <br>
    <%- include('footer'); -%>